.chart-container {
    background-color: white !important;
    /* min-height: 100vh; */
    /* width: 2000px; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(6px + 2vmin);
    color: black;
    box-shadow: 3px 5px #C0D6DF;
    border: solid aliceblue;
    border-width: 3px;
    /* min-height: 500px;
    max-height: 500px; */
}

h2 {
    color: #9dc630;
}

.main-container-linechart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lineChart {
    min-width: 300px;
    min-height: 300px;
}