.main-container-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.welcome-container {
    background-color: white;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(6px + 2vmin);
    color: black;
    box-shadow: 3px 5px #C0D6DF;
    border: solid aliceblue;
    border-width: 3px;
    min-height: 500px;
    max-height: 500px;
    margin-top: 80px;

}

.welcome-container p {
    color: black;
    font-weight: 600 !important;
}