.chart-container {
    background-color: rgba(255,255,255,0.7);
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(6px + 2vmin);
    color: black;
    /* box-shadow: 3px 5px #C0D6DF; */
    border: solid #f7b558;
    border-width: 3px;
    min-height: 500px;
    max-height: 500px;
    margin-top: 80px;
    border-radius: 10px;
}

.main-container-linechart {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #dceed1; */
    height: 100%;
    width: 100%;
}

.chart-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#lineChart {
    min-width: 300px;
    min-height: 300px;
}
