.main-container-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.welcome-container {
    background-color: rgba(255,255,255,0.9);
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(6px + 2vmin);
    color: black;
    border: solid #f7b558;
    border-width: 3px;
    min-height: 500px;
    max-height: 500px;
    margin-top: 80px;
    border-radius: 10px;
}

.welcome-container p {
    color: black;
    font-weight: bolder !important;
}