#product-field {
    margin-top: 5em;
    margin-left: 262px;
    
}

.product-form {
    /* margin-left: 2em; */
    display: flex;
    flex-direction: column;
}

.vendor-button {
    /* margin-left: 90%; */
    /* margin-top: 200px; */
    width: 175px;
    align-self: center;
}