.main-container-purchaseForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    border: solid #db9d47;
    border-width: 3px;
    min-height: 500px;
    max-height: 500px;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(255,255,255,0.9);
    font-size: calc(6px + 2vmin);
    border-radius: 10px;
}

.btn:hover {
    color: #fa923f;
}

#vendorSelect {
    width: 250px;
}

#productSelect {
    width: 250px;
}

#exampleDate {
    height: 19px;
    width: 225px;
}

#purchasePrice {
    height: 19px;
    width: 225px;
}