ul {
    list-style-type: none
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;

}
.form-container {
width: 800px;
margin: 20px;
}

.purchaseForm {

}

.form-control {

}

#purchasePrice {
    max-width: 670px;
}

#exampleDate {
    max-width: 670px;
}

.price-label {
    background-color: lightgray;
}