.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 56px;
    /* box-shadow: 5px 5px #4F6D7A; */
    border-bottom: solid #C0D6DF;
    border-width: 3px;
}

.navbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    /* justify-content: right; */
    padding: 0 1rem;
    width: 100%;
}

.navbar-logo {
    margin-left: 1rem;
}

.navbar-logo a {
color: white;
text-decoration: none;
font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.navbar-navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: black;
    
}

.navbar-navigation-items li {
    padding: 0 0.5rem;;
}
.navbar-navigation-items a {
    columns: white;
    text-decoration: none;
    color: black;
}

.navbar-navigation-items a:hover,
.navbar-navigation-items a:active {
color: orange;

}