/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 300;
  }

  .bigger-box .form-control {
    
    justify-self: center;
    align-self: center;
    
  }
   
  .box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    min-height: 35vh;
    margin-top: calc(90vh - 60vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 3px 5px #C0D6DF;
    border: solid aliceblue;
    border-width: 3px;
    overflow: auto;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
  }

  .btn-close {
    align-self: flex-start;
  }

   
  /* .close-icon {
    content: 'X';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  } */