/* Import the google web fonts you want to use */
/* @import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: black;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.btn {
background-color: #C0D6DF;
}

.btn-primary {
  background-color: #C0D6DF;
}

* {
  /* background-color: #a8a9aa; */
  /* border: dashed goldenrod 1px; */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}