/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: black;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.btn {
background-color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  /* background-image: url(./CapStoneBackground.jpeg); */
  background-image: url(./CapStoneBackground2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}