/* .navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.navLink-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 2px;
  filter: 300ms;
}

.navLink-button:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translate(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
} */

.navbar {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end !important; */
  /* width: 100%; */
  /* border: solid 2px none;
  border-radius: 8px;
  overflow: hidden; */
  background-color: #fff;
  /* border-bottom: solid #C0D6DF;
    border-width: 3px; */
}

.navlink {
  /* flex-basis: 0%;
  margin: 10px;
  font-size: 18px;
  width: 100%;
  display: flex;
  float: right !important; */
  /* background-color: #a8a9aa; */
  /* color: black; */
}

.navbarParent {
  display: flex;
  flex-direction: row;

}

#purchase-link {
  color: black;
  float: right !important;
  background-color: aliceblue;
  border: solid #C0D6DF;
    border-width: 3px;
    box-shadow: 5px 5px #4F6D7A;
}

#logout-link {
  color: black;
  border: solid #C0D6DF;
    border-width: 3px;
    box-shadow: 5px 5px #4F6D7A;
    background-color: aliceblue;
}

#vendor-dropdown {

}

.vendor-dropdownItem {

}

.addVendor-dropdownItem {

}

.brand-container {
  display: flex;
  align-self: flex-end !important;
  justify-self: flex-end !important;

}

.title-image {

}

#navlink-vendor {
  /* max-width: 100px;
  background-color: #6c757d;
  color: #fff;
  border: solid #C0D6DF;
    border-width: 3px;
    box-shadow: 5px 5px black; */
}

.navlink-vendor {
  /* align-self: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  background-color: #5c5d5e;
  border: solid #C0D6DF;
    border-width: 3px;
    box-shadow: 5px 5px black; */
}

.title-image {

}

.dropdown-menu {
  /* background-color: aquamarine !important;
  height: 900px; */
  
}


/* The dropdown container */
/* .dropdown {
  float: left;
  overflow: hidden;
  z-index: 9;
} */

/* Dropdown button */
/* .dropdown .dropbtn {
  font-size: 16px;
  border: black;
  outline: solid;
  padding: 14px 16px;
  background-color: inherit;
  color: black;
} */

/* Add a grey background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightgray;
} */

/* Dropdown content (hidden by default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */

/* Links inside the dropdown */
/* .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */

/* Add a grey background color to dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: rgb(190, 31, 31);
} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
  display: block;
} */

/* .form-control {
  background-color: #a8a9aa;
} */