.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    opacity: 90%;
    height: 56px;
    border-bottom: solid ;
    border-width: 3px;
    border-color: #f7b558;
}


.navbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navbar-logo {
    margin-left: 1rem;
}

.navbar-logo a {
color: black !important;
text-decoration: none;
font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.navbar-navigation-items {
    margin: 0;
    padding: 0;
    display: flex;
    color: black;
    margin-right: 2rem;
}

.navbar-navigation-items li {
    padding: 0 0.5rem;;
}
.navbar-navigation-items a {
    text-decoration: none;
    color: black;
}

.navbar-navigation-items a:hover,
.navbar-navigation-items a:active {
color: #fa923f;

}

h4:hover {
    color: #fa923f;
}