  .navbar {
    justify-content: left;
    position: fixed;
    top: 0;
    width: 100%;
    /* margin: auto; */
    max-height: none;
    border: solid 2px none;
    border-radius: 8px;
    display: row;
    transition-property: ease-in;
    transition: top 0.5s;
  }

  .navlink {
    flex-basis: 20%;
    list-style-type: none;
    margin: 10px;
    font-size: 18px;
    width: 100%;
    color: white;
    display: inline-block;
  }