.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
    background-color: aliceblue;
    height: 100%;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    /* background-color: hsla(0,0%,100%,0.40); */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    /* align-content: center; */
    /* justify-items: center; */
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    /* width: 800px; */
    /* border: solid #C0D6DF;
    box-shadow: 5px 5px #4F6D7A;
    border-width: 3px; */
    /* min-height: 500px;
    max-height: 500px; */
    /* margin-top: 80px; */
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100%;
    background-color: aliceblue;
}

.main-container {
    display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  background-color: aliceblue;
  flex-direction: column;
  height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 56px;
    /* box-shadow: 5px 5px #4F6D7A; */
    border-bottom: solid #C0D6DF;
    border-width: 3px;
}

.navbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    /* justify-content: right; */
    padding: 0 1rem;
    width: 100%;
}

.navbar-logo {
    margin-left: 1rem;
}

.navbar-logo a {
color: white;
text-decoration: none;
font-size: 1.5rem;
}

.spacer {
    flex: 1;
}